{{ if eq .chezmoi.os "darwin" -}}
{{ if eq .feature.karabiner.enabled true -}}
{
    "profiles": [
        {
            "complex_modifications": {
                "rules": [
                    {
                        "manipulators": [
                            {
                                "description": "Change caps_lock to command+control+option+shift.",
                                "from": {
                                    "key_code": "caps_lock",
                                    "modifiers": { "optional": ["any"] }
                                },
                                "to": [
                                    {
                                        "key_code": "left_shift",
                                        "modifiers": ["left_command", "left_control", "left_option"]
                                    }
                                ],
                                "type": "basic"
                            }
                        ]
                    },
                    {
                        "description": "Change option + a/o/u to ä/ö/ü",
                        "manipulators": [
                            {
                                "from": {
                                    "key_code": "a",
                                    "modifiers": {
                                        "mandatory": ["option"],
                                        "optional": ["caps_lock"]
                                    }
                                },
                                "to": [
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_option"]
                                    },
                                    { "key_code": "a" },
                                    { "key_code": "vk_none" }
                                ],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "key_code": "a",
                                    "modifiers": { "mandatory": ["option", "shift"] }
                                },
                                "to": [
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_option"]
                                    },
                                    {
                                        "key_code": "a",
                                        "modifiers": ["left_shift"]
                                    },
                                    { "key_code": "vk_none" }
                                ],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "key_code": "o",
                                    "modifiers": {
                                        "mandatory": ["option"],
                                        "optional": ["caps_lock"]
                                    }
                                },
                                "to": [
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_option"]
                                    },
                                    { "key_code": "o" },
                                    { "key_code": "vk_none" }
                                ],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "key_code": "o",
                                    "modifiers": { "mandatory": ["option", "shift"] }
                                },
                                "to": [
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_option"]
                                    },
                                    {
                                        "key_code": "o",
                                        "modifiers": ["left_shift"]
                                    },
                                    { "key_code": "vk_none" }
                                ],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "key_code": "u",
                                    "modifiers": {
                                        "mandatory": ["option"],
                                        "optional": ["caps_lock"]
                                    }
                                },
                                "to": [
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_option"]
                                    },
                                    { "key_code": "u" },
                                    { "key_code": "vk_none" }
                                ],
                                "type": "basic"
                            },
                            {
                                "from": {
                                    "key_code": "u",
                                    "modifiers": { "mandatory": ["option", "shift"] }
                                },
                                "to": [
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_option"]
                                    },
                                    {
                                        "key_code": "u",
                                        "modifiers": ["left_shift"]
                                    },
                                    { "key_code": "vk_none" }
                                ],
                                "type": "basic"
                            }
                        ]
                    }
                ]
            },
            "devices": [
                {
                    "identifiers": {
                        "is_keyboard": true,
                        "product_id": 24576,
                        "vendor_id": 1637
                    },
                    "simple_modifications": [
                        {
                            "from": { "key_code": "left_command" },
                            "to": [{ "key_code": "left_option" }]
                        },
                        {
                            "from": { "key_code": "left_option" },
                            "to": [{ "key_code": "left_command" }]
                        }
                    ]
                },
                {
                    "identifiers": {
                        "is_keyboard": true,
                        "product_id": 31235,
                        "vendor_id": 4164
                    },
                    "ignore": true,
                    "simple_modifications": [
                        {
                            "from": { "key_code": "left_command" },
                            "to": [{ "key_code": "left_option" }]
                        },
                        {
                            "from": { "key_code": "left_option" },
                            "to": [{ "key_code": "left_command" }]
                        }
                    ]
                },
                {
                    "identifiers": {
                        "is_keyboard": true,
                        "product_id": 126,
                        "vendor_id": 5426
                    },
                    "ignore": true
                },
                {
                    "identifiers": {
                        "is_keyboard": true,
                        "product_id": 123,
                        "vendor_id": 5426
                    },
                    "ignore": true
                },
                {
                    "identifiers": {
                        "is_keyboard": true,
                        "product_id": 24729,
                        "vendor_id": 6127
                    },
                    "simple_modifications": [
                        {
                            "from": { "key_code": "left_command" },
                            "to": [{ "key_code": "left_option" }]
                        },
                        {
                            "from": { "key_code": "left_option" },
                            "to": [{ "key_code": "left_command" }]
                        }
                    ]
                }
            ],
            "name": "Default profile",
            "selected": true,
            "virtual_hid_keyboard": {
                "country_code": 0,
                "keyboard_type_v2": "ansi"
            }
        }
    ]
}
{{ end }}
{{ end }}
