{{ if eq .chezmoi.os "darwin" -}}
{{ if (and (eq .feature.yabai.enabled true) (eq .is_personal_device true)) -}}
#!/usr/bin/env sh

# Simple hotkey daemon for macOS
# https://github.com/koekeishiya/skhd

# focus window
hyper - h : yabai -m window --focus west
hyper - j : yabai -m window --focus south
hyper - k : yabai -m window --focus north
hyper - l : yabai -m window --focus east

# swap managed window
hyper - u : yabai -m window --swap west
hyper - i : yabai -m window --swap south
hyper - o: yabai -m window --swap north
hyper - p : yabai -m window --swap east

# rotate tree
hyper - b : yabai -m space --rotate 90

# toggle window fullscreen zoom
hyper - t : yabai -m window --toggle zoom-fullscreen

# toggle padding and gap
hyper - g : yabai -m space --toggle padding; yabai -m space --toggle gap

# float / unfloat window and center on screen
hyper - y : yabai -m window --toggle float;\
          yabai -m window --grid 4:4:1:1:2:2

# bring up mission-control
hyper - m : yabai -m space --toggle mission-control

# balance size of windows
hyper - 0 : yabai -m space --balance

# Move windows to last desktop and follow focus - uses jq for parsing json (brew install jq)
hyper - n : index="$(yabai -m query --spaces --display | jq 'map(select(."is-native-fullscreen" == false))[-1].index')" && \
                   yabai -m window --space "$index" && \
                   yabai -m space --focus "$index"

# Quick focus desktops
# hyper - a : yabai -m space --focus 1
# hyper - s : yabai -m space --focus 2
# hyper - d : yabai -m space --focus 3
# hyper - f : yabai -m space --focus 4
# hyper - r : yabai -m space --focus 5
# hyper - e : yabai -m space --focus 6
# hyper - w : yabai -m space --focus 7
# hyper - q : yabai -m space --focus 8
# hyper - x : yabai -m space --focus 9
# hyper - c : yabai -m space --focus 10

hyper - a : yabai -m space --focus 1
hyper - s : yabai -m space --focus 2
hyper - d : yabai -m space --focus 3
hyper - f : yabai -m space --focus 4
hyper - r : yabai -m space --focus 5
hyper - e : yabai -m space --focus 6
hyper - w : yabai -m space --focus 7
hyper - q : yabai -m space --focus 8
hyper - x : yabai -m space --focus 9
hyper - c : yabai -m space --focus 10

# fast focus desktop
hyper - tab : yabai -m space --focus recent
{{ end -}}
{{ end -}}
