{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Check if zsh is already installed
if ! command -v zsh &> /dev/null; then
  sudo DEBIAN_FRONTEND=noninteractive apt-get -y install zsh
fi

{{ if ne .is_devcontainer true -}}
# Change the default shell to zsh non-interactively if it isn't already zsh
if [ "$SHELL" != "$(which zsh)" ]; then
  chsh -s $(which zsh) $USER
fi
{{ end -}}

# Check if oh-my-zsh is already installed
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  # Install oh-my-zsh
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

# Check if zplug is already installed in /opt/homebrew/opt/zplug
if [ ! -d "$HOME/.zplug" ]; then
  # Install zplug for plugin management
  curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh
fi

{{ end -}}
