{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
source $HOME/.nix-profile/etc/profile.d/nix.sh

nix-env -iA \
  nixpkgs.bat \
  nixpkgs.delta \
  nixpkgs.fzf \
  nixpkgs.fd \
  nixpkgs.lf \
  nixpkgs.ripgrep

{{ if ne .is_devcontainer true -}}
# Install additional packages
nix-env -iA \
  nixpkgs.git-filter-repo \
  nixpkgs.git-lfs \
  nixpkgs.git-sizer \
  nixpgks.chezmoi \
  nixpkgs.glances \
  nixpkgs.jq \
  nixpkgs.mosh \
  nixpkgs.ncdu \
  nixpkgs.pre-commit \
  nixpkgs.prettyping \
  nixpkgs.testssl \
  nixpkgs.tldr \
  nixpkgs.wget \
  nixpkgs.yq \
  nixpkgs.azure-cli \
  nixpkgs.gh
{{ end -}}
{{ end -}}
