{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Update all already installed packages
sudo DEBIAN_FRONTEND=noninteractive apt-get update
sudo DEBIAN_FRONTEND=noninteractive apt-get -y upgrade


# Install minimal package set
	# TODO: git delta is not available via apt: https://dandavison.github.io/delta/installation.html
  #delta \
# Used in devcontainers, docker containers and codespaces
sudo DEBIAN_FRONTEND=noninteractive apt-get -y install \
	bat \
	fd-find \
  lf \
  ripgrep

{{ if ne .is_devcontainer true -}}
# Install additional packages
  # TODO: chezmoi is not available via apt
  #chezmoi
  # TODO: git-sizer is not available via apt: https://github.com/github/git-sizer/releases
	#git-sizer \
sudo DEBIAN_FRONTEND=noninteractive apt-get -y install \
	git-filter-repo \
	git-lfs \
	glances \
	jq \
	mosh \
	ncdu \
	pre-commit \
	prettyping \
	testssl.sh \
	tldr \
	wget \
	yq \
  azure-cli \
	fzf \
	gh \
	git
{{ end -}}
{{ end -}}
