[user]
    name = {{ .git.name | quote }}
    email = {{ .git.email | quote }}
    {{ if (and (eq .git.sshsigning.enabled true) (ne .is_devcontainer true)) -}}
    signingkey = {{ .git.sshsigning.signingkey | quote }}
    {{- end }}
[color]
    ui = true
[core]
    autocrlf = false
    filemode = false
    editor = code --wait
    pager = delta
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
    side-by-side = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[init]
    defaultBranch = main
[pull]
    rebase = true
[rerere]
    enabled = true
[remote "origin"]
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- if (and (eq .git.sshsigning.enabled true) (ne .is_devcontainer true)) }}
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- else if eq .chezmoi.os "windows" -}}
  program = "C:/Users/stefa/AppData/Local/1Password/app/8/op-ssh-sign.exe"
  {{- else if eq .is_wsl true -}}
  # TODO: replace username/path with variable and test it
  program = "/mnt/c/Users/stefa/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
  {{ end }}
  allowedSignersFile = "$HOME/.ssh/allowed_signers"
{{ end -}}
