# set proper language locales
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# XDG Base Directory
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Set preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='code'
fi
export VISUAL='code'

# Custom root cert handling
# Make sure ruby apps use global trust store
export SSL_CERT_FILE="/etc/ssl/cert.pem"
# Make sure curl uses global trust store
export CURL_CA_BUNDLE="/etc/ssl/cert.pem"
# Make sure nodejs apps use global trust store
export NODE_EXTRA_CA_CERTS="/etc/ssl/cert.pem"
# Make sure python apps use global trust store
export REQUESTS_CA_BUNDLE="/etc/ssl/cert.pem"

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ if eq .chezmoi.os "darwin" -}}
# Initialize homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

# Source all feature zsh definitions
for file in $HOME/.config/**/*.zsh; do
    source "$file"
done

# Source all feature alias definitions
for file in $HOME/.config/**/*.alias; do
    source "$file"
done
