{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "jesseduffield/lazygit"
tap "epk/epk"
tap "federico-terzi/espanso"
tap "koekeishiya/formulae"
brew "curl"
brew "openssl@3"
brew "act"
brew "ansible"
brew "testssl"
brew "tfswitch"
brew "bat"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-sizer"
brew "git-filter-repo"
brew "gnupg"
brew "go"
brew "hyperfine"
brew "jq"
brew "yq"
brew "lazydocker"
brew "lf"
brew "lsd"
brew "luajit", args: ["HEAD"]
brew "mosh"
brew "neofetch"
brew "neovim", args: ["HEAD"]
brew "node"
brew "node@16"
brew "nvm"
brew "tmux"
brew "overmind"
brew "fd"
brew "ripgrep"
brew "spotify-tui"
brew "starship"
brew "switchaudio-osx"
brew "tealdeer"
brew "terminal-notifier"
brew "trash-cli"
brew "wallpaper"
brew "wget"
brew "yarn"
brew "zlib"
brew "zoxide"
brew "federico-terzi/espanso/espanso"
brew "jesseduffield/lazygit/lazygit"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
EOF
{{ end -}}
