{{- if eq .chezmoi.os "windows" -}}
# https://ohmyposh.dev/docs/faq
# https://learn.microsoft.com/en-us/windows/terminal/tutorials/custom-prompt-setup

# Function to check if the font is already installed
function Test-FontInstalled {
    param (
        [string]$FontName
    )
    $fonts = (New-Object -ComObject Shell.Application).Namespace(0x14).Items()
    foreach ($font in $fonts) {
        if ($font.Name -like "*$FontName*") {
            return $true
        }
    }
    return $false
}

# Install Meslo Nerd Font
if (-not (Test-FontInstalled -FontName "MesloLGS Nerd Font")) {
    oh-my-posh font install meslo
}
# TODO: use oh-my-posh config file instead?
# Set the theme
$initLine = 'oh-my-posh init pwsh --config "$env:POSH_THEMES_PATH/powerlevel10k_rainbow.omp.json" | Invoke-Expression'
$initPrefix = 'oh-my-posh init'

# Define profile paths for Windows PowerShell and PowerShell Core
$profiles = @($PROFILE, "$HOME\Documents\PowerShell\Microsoft.PowerShell_profile.ps1")

foreach ($profile in $profiles) {
    # Read the profile file content
    if (Test-Path -Path $profile) {
        $profileContent = Get-Content -Path $profile -Raw
    } else {
        $profileContent = ""
    }

    # Check if any line starts with "oh-my-posh init"
    if ($profileContent -match "^$initPrefix.*") {
        # Replace the existing line with the new initLine
        $profileContent = $profileContent -replace "^$initPrefix.*", $initLine
        Set-Content -Path $profile -Value $profileContent
    } else {
        # Append the init line to the profile file if it doesn't already exist
        Add-Content -Path $profile -Value $initLine
    }
}

{{ end -}}
