{{- if eq .git.sshsigning_enabled true -}}
{{ .git.personal.email }} {{ .git.personal.signingkey }}
{{- if eq .is_company_device true -}}
{{ .git.work.email }} {{ .git.work.signingkey }}
{{ end -}}
{{ end -}}
