{{ if eq .is_company_device true -}}
Host 127.0.0.1
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host CM
    User schultes
    Hostname vsatn-lincon-t.servers.emea.dir
    ForwardAgent yes
{{ end -}}

Host *
    ServerAliveInterval 60
    ServerAliveCountMax 10
    SetEnv TERM=xterm-256color # Ghostty xterm configs are not yet widespread available on all systems, so a fallback is used. See https://ghostty.org/docs/help/terminfo#ssh
