{{ if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "sh" }}

# On settings files for 1password: https://support.1password.com/settings-security/
# Short version: doesn't work due to security concerns. Required a MDM or manual macOS management profile application.

# Add symlink for the 1password ssh agent
if [[ ! -d ~/.1password ]] ; then
    mkdir -p ~/.1password && ln -s "~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock" ~/.1password/agent.sock
fi

{{ end -}}
