{{ if eq .chezmoi.os "darwin" -}}
initial-window = true
shell-integration = zsh
clipboard-read = allow
clipboard-write = allow
clipboard-trim-trailing-spaces = true
background-opacity = 1.0
background-blur-radius = 20
font-size = 18
font-family = SauceCodePro Nerd Font
macos-titlebar-style = hidden
theme = oxocarbon
confirm-close-surface = false
window-height = 10000
window-width = 10000
window-padding-balance = true
window-padding-x = 20
window-padding-y = 25
{{ end }}
