{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# For forcing homebrew to replace existing applications that were installed manually, add "--force" to the brew bundle command
# For uninstalling applications that aren't part of this bundle definition, add "--cleanup" to the brew bundle command
brew bundle --no-upgrade --cleanup --file=/dev/stdin <<EOF

cask_args appdir: '/Applications'

tap "powershell/tap"                        # Used for PowerShell Core
tap "warrensbox/tap"                        # Used for tfswitch

brew "azure-cli"                            # Microsoft Azure CLI - https://docs.microsoft.com/en-us/cli/azure/
brew "bash"                                 # An up-to-date version of Bash shell - https://www.gnu.org/software/bash/
brew "bat"                                  # Replacement for interactive cat commands - https://github.com/sharkdp/bat
brew "chezmoi"                              # Dotfile manager - https://www.chezmoi.io/
brew "direnv"                               # Environment variable manager - https://direnv.net/
brew "fd"                                   # More user friendly alternative to find command - https://github.com/sharkdp/fd
brew "fzf"                                  # Fuzzy finder for terminal, a must have - https://github.com/junegunn/fzf
brew "gh"                                   # GitHub CLI - https://cli.github.com/
brew "git"                                  # Git version control system - https://git-scm.com/
brew "git-delta"                            # Better Git diff viewer - https://github.com/dandavison/delta
brew "git-filter-repo"                      # Git history rewriting tool for cleaning up git repos - https://github.com/newren/git-filter-repo
brew "git-lfs"                              # Git Large File Storage plugin - https://git-lfs.github.com/
brew "git-sizer"                            # Git repository size checker - https://github.com/github/git-sizer
brew "go"                                   # Go programming language - https://golang.org/
brew "jq"                                   # JSON processor - https://stedolan.github.io/jq/
brew "lf"                                   # Terminal file manager - https://github.com/gokcehan/lf
brew "ncdu"                                 # Disk usage analyzer - https://dev.yorhel.nl/ncdu
brew "neovim"                               # neovim text editor - https://neovim.io/
brew "nvm"                                  # Node Version Manager - https://github.com/nvm-sh/nvm
brew "pre-commit"                           # Git pre-commit hook framework - https://pre-commit.com/
brew "prettyping"                           # Ping utility with a pretty output - https://denilson.sa.nom.br/prettyping/
brew "ripgrep"                              # grep alternative - https://github.com/BurntSushi/ripgrep
brew "testssl"                              # SSL/TLS security testing tool - https://testssl.sh/
brew "warrensbox/tap/tfswitch"              # Terraform version manager - https://tfswitch.warrensbox.com/
brew "wget"                                 # Download utility - https://www.gnu.org/software/wget/
brew "yq"                                   # YAML processor - https://github.com/mikefarah/yq
brew "lazygit"                              # CLI GUI for git operations - https://github.com/jesseduffield/lazygit
brew "powershell/tap/powershell"            # PowerShell Core - https://learn.microsoft.com/en-gb/powershell/

cask "1password"                            # 1Password for Mac - https://1password.com/
cask "1password-cli"                        # 1Password CLI - https://1password.com/
cask "bruno"                                # scriptable API client - https://www.usebruno.com/
cask "firefox@developer-edition"            # Firefox Developer Edition - https://www.mozilla.org/en-GB/firefox/developer/
{{- if (and (eq .feature.flox.enabled true) (eq .is_personal_device true)) }}
cask "flox"                                 # Flox - https://flox.dev/
{{ end -}}
cask "font-sauce-code-pro-nerd-font"        # Install font for terminal
{{- if eq .feature.karabiner.enabled true }}
cask "karabiner-elements"                   # Key remapper software for macOS, https://github.com/pqrs-org/Karabiner-Elements
{{ end -}}
cask "microsoft-azure-storage-explorer"     # Microsoft Azure Storage Explorer - https://azure.microsoft.com/en-us/features/storage-explorer/
cask "microsoft-edge"                       # Microsoft Edge browser - https://www.microsoft.com/en-us/edge
cask "rancher"                              # Rancher for Desktop - https://rancherdesktop.io/
cask "raycast"                              # Application launcher, replaces spotlight - https://www.raycast.com/
{{- if (and (eq .feature.sensiblesidebuttons.enabled true) (eq .is_personal_device true)) }}
cask "sensiblesidebuttons"                  # Adds Windows-like mouse side button functionality to macOS, https://sensible-side-buttons.archagon.net/
{{ end -}}
cask "slack"                                # Slack group chat - https://slack.com/
cask "visual-studio-code"                   # Visual Studio Code - https://code.visualstudio.com/


{{ if eq .is_personal_device true -}}
# Install additional packages only on personal devices

{{- if (and (eq .feature.yabai.enabled true) (eq .is_personal_device true)) }}
tap "koekeishiya/formulae"                  # Used for yabai/skhd

brew "koekeishiya/formulae/skhd"            # Simple hotkey daemon for macOS, to be used with Yabai - https://github.com/koekeishiya/skhd
brew "koekeishiya/formulae/yabai"           # Tiling window manager for macOS - https://github.com/koekeishiya/yabai
{{ end -}}
brew "mas"                                  # Apple App Store CLI - https://github.com/mas-cli/mas

cask "balenaetcher"                         # Flash tool for images/isos - https://etcher.balena.io/
{{- if (and (eq .feature.bartender.enabled true) (eq .is_personal_device true)) }}
cask "bartender"                            # Hide menu bar icons on macOS - https://www.macbartender.com/
{{ end -}}
cask "blockblock"                           # Blockblock malware detection tool - https://objective-see.com/products/blockblock.html
cask "discord"                              # Discord group chat - https://discord.com/
cask "focusrite-control"                    # Focusrite Audio interface control app - https://customer.focusrite.com/en/support/downloads?brand=Focusrite&product_by_type=1360&download_type=all
cask "jellyfin-media-player"                # Media player for jellyfin servers - https://github.com/jellyfin/jellyfin-media-player
cask "little-snitch"                        # Outbound firewall for macOS - https://www.obdev.at/products/littlesnitch/index.html
cask "obsidian"                             # Knowledge Base/2nd Brain - https://obsidian.md/
cask "proton-mail"                          # ProtonMail mail client - https://protonmail.com/
cask "signal"                               # Signal messenger - https://signal.org/
cask "steam"                                # Steam game client - https://store.steampowered.com/
{{- if (and (eq .feature.topnotch.enabled true) (eq .is_personal_device true)) }}
cask "topnotch"                             # Hide the notch on MacBooks when hiding the top menu bar, Closed source though!! - https://topnotch.app/
{{ end -}}
cask "vlc"                                  # VLC media player - https://www.videolan.org/vlc/

# Be aware that Apple does not allow to script initial downloads or purchases from the App store.
# An initial install must always happen via the App Store GUI. After that your apple account is flagged for that application and the app can be installed via the command line.
mas "1Password for Safari", id: 1569813296   # 1Password extension for Safari
mas "Cyberduck", id: 409222199               # FTP/SFTP/WebDAV/Cloud storage client - https://cyberduck.io/
mas "Dark Reader for Safari", id: 1438243180 # Dark mode browser extension for Safari
mas "Wipr", id: 1320666476                   # Adblocker extension for Safari
mas "Keka", id: 470158793                    # File compression utility, since macOS has no good builtin one - Paid app!!
mas "Keymapp", id: 6472865291                # Flash/configuration/training tool for ZSA keyboards - https://www.zsa.io/flash
mas "Shazam", id: 897118787                  # Music recognition app
{{ end -}}

{{ if eq .is_company_device true -}}
# Install additional packages only on company owned devices

{{ end -}}

EOF
{{ end -}}
