{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Menu bar
# TODO: add remaining customizations for macOS
# TODO: add proper macOS hardening rulesets
# TODO: split this out into feature subfolders

{{- if (and (eq .feature.topnotch.enabled true) (eq .is_personal_device true)) }}
## Topnotch config
defaults write pl.maketheweb.TopNotch "roundCorners" -bool "true"
defaults write pl.maketheweb.TopNotch "cornerRadius" -float "1"
defaults write pl.maketheweb.TopNotch "useDynamicWallpapers" -bool "false"
defaults write pl.maketheweb.TopNotch "lastAcceptedEulaVersion" -bool "true"
defaults write pl.maketheweb.TopNotch "hideOnBuiltInOnly" -bool "false"
defaults write pl.maketheweb.TopNotch "firstLaunch" -bool "false"
defaults write pl.maketheweb.TopNotch "hideMenubarIcon" -bool "false"
defaults write pl.maketheweb.TopNotch "isEnabled" -bool "true"
{{ end }}
{{- if (and (eq .feature.sensiblesidebuttons.enabled true) (eq .is_personal_device true)) }}
## Sensible sidebuttons
defaults write net.archagon.sensible-side-buttons "SBFWasEnabled" -bool "true"
{{ end }}
# Dock
defaults write com.apple.dock "autohide" -bool "true"
defaults write com.apple.dock "tilesize" -int "80"
defaults write com.apple.dock "largesize" -int "16"
defaults write com.apple.dock "show-recents" -bool "false"
defaults write com.apple.dock "magnification" -bool "true"
defaults write com.apple.dock "minimize-to-application" -bool "false"
defaults write com.apple.dock "mineffect" -string "scale"
defaults write com.apple.dock "autohide-delay" -float "0.1"
defaults write com.apple.dock "autohide-time-modifier" -float "1"
killall Dock # Restart the Dock to apply changes

# Enable 3-finger drag
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerDrag -bool true
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad TrackpadThreeFingerDrag -bool true

# Allow quitting via ⌘Q
defaults write com.apple.finder QuitMenuItem -bool true

# Disable warning when changing a file extension
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

# Show all files and their extensions
defaults write com.apple.finder AppleShowAllExtensions -bool true
defaults write com.apple.finder AppleShowAllFiles -bool true

# Search in current folder by default
defaults write com.apple.finder FXDefaultSearchScope -string SCcf

# Allow text selection in Quick Look
defaults write com.apple.finder QLEnableTextSelection -bool true

# Avoid creating .DS_Store files on USB or network volumes
defaults write com.apple.desktopservices dsdontwriteusbstores -bool true
defaults write com.apple.desktopservices dsdontwritenetworkstores -bool true

# Enable reduce motion (disables most animations)
defaults write com.apple.Accessibility ReduceMotionEnabled -bool true
{{ end -}}
