{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Add Viega pki root certs to macOS keychain
sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain ~/.certs/zscaler-root.crt
sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain ~/.certs/viega-root.crt

# Update /etc/ssl/cert.pem with custom root certificates
# This is considered a workaround. macOS OS updates will wipe custom certs from the /etc/ssl/cert.pem file again, unless they are managed by an approved MDM solution.
# Creating our own ca-bundle file is the alternative to that.
# TODO: use mozilla ca-bundle file as base and add custom root certs to it
#sudo sh -c 'cat ~/.certs/zscaler-root.crt ~/.certs/viega-root.crt >> /etc/ssl/cert.pem'

# TODO: update firefox cert store, if firefox feature enabled

{{ end -}}
