{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Check if brew is already installed
if command -v brew >/dev/null 2>&1; then
  echo "Homebrew is already installed."
  exit 0
fi

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Initialize homebrew so it can immediately be used for installing packages in next step
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ end -}}
